@model Khareedo.Models.AdminUsers

@{
    ViewBag.Title = "Empleado";
    ViewBag.SubTitle = "Detalles";
    Layout = "~/Views/ViewsA/shared/_Layout.cshtml";
}


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.UserID)</dt>
        <dd>@Html.DisplayFor(model => model.UserID)</dd>

        <dt>@Html.DisplayNameFor(model => model.FirstName)</dt>
        <dd>@Html.DisplayFor(model => model.FirstName)</dd>

        <dt>@Html.DisplayNameFor(model => model.LastName)</dt>
        <dd>@Html.DisplayFor(model => model.LastName)</dd>

        <dt>@Html.DisplayNameFor(model => model.Age)</dt>
        <dd>@Html.DisplayFor(model => model.Age)</dd>

        <dt>@Html.DisplayNameFor(model => model.Gender)</dt>
        <dd>@Html.DisplayFor(model => model.Gender)</dd>

        <dt>@Html.DisplayNameFor(model => model.Email)</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>

        <dt>@Html.DisplayNameFor(model => model.Address)</dt>
        <dd>@Html.DisplayFor(model => model.Address)</dd>

        <dt>@Html.DisplayNameFor(model => model.Phone)</dt>
        <dd>@Html.DisplayFor(model => model.Phone)</dd>

        <dt>@Html.DisplayNameFor(model => model.Mobile)</dt>
        <dd>@Html.DisplayFor(model => model.Mobile)</dd>

        <dt>@Html.DisplayNameFor(model => model.PhotoPath)</dt>
        <dd>@Html.DisplayFor(model => model.PhotoPath)</dd>

        <dt>@Html.DisplayNameFor(model => model.UserName)</dt>
        <dd>@Html.DisplayFor(model => model.UserName)</dd>

        <!-- Asegúrate de que esto esté en la vista -->
        <dt>@Html.DisplayNameFor(model => model.Salario)</dt>
        <dd>
            @if (Model.Salario.HasValue)
            {
                <span>₡</span> @Html.DisplayFor(model => model.Salario, "{0:C}") <!-- Muestra como moneda -->
            }
            else
            {
                <span>No disponible</span>
            }
        </dd>

        <dt>@Html.DisplayNameFor(model => model.Notes)</dt>
        <dd>@Html.DisplayFor(model => model.Notes)</dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-primary" })
</p>
